a.nav-link{
	color: white;
}

ul{
	font-family: "Chivo Mono", monospace;
	/*display: flex;*/
	gap: 10px;
	color:rgb(14, 13, 13);
}
ul li{
	list-style: none;
}
ul li a{
	/*font-size: 16px;
	font-weight: 700;*/
	text-decoration: none;
	text-transform: uppercase;
	color: rgb(12, 12, 12);
	padding: 5px;
	transition: 0.5s ease;
}
ul:hover li a{
	color: white ;
}
ul:hover li a:not(:hover){
    color: rgb(8, 8, 8);
	opacity: 0.3;
	filter: blur(1px);
}

#AdministracionProductos{
	display: none;
}

#Logout{
	display: none;
}