:root {
  --color-primario: #ffffff;
  --color-secundario: #6f6f6f;
  --color-tercero: #bdbdbd;
}

body h1 {
  background: var(--color-tercero);
}
body thead {
  background: var(--color-secundario);
}

#cardEstilo {
  background: var(--color-secundario);
}
tbody {
  background-color: var(--color-tercero);
}

tr > td > img{
  width: 150px;
  height: 150px;
}
