.container{
display: flex;
justify-content: center;	
}
body{
	background-image: url();
}
footer{
		width: 100%;
		bottom: 1rem;
}
<<<<<<< HEAD:css/Style.css
#Codigo{
	display: none;
}
=======
.card {
	margin-bottom: 10px;
	margin: 0 5px;
  }
  .card img {
	width: auto;

  }


	
>>>>>>> 6cb2ac8773b2416c7b803c92e16f20ecd113e52a:Style.css
