:root{
	--color-primario: #FFFFFF;
	--color-secundario: #6F6F6F;
	--color-tercero:  #BDBDBD;
}

section{
	background: var(--color-tercero);
	border-radius: 20px;
	width: auto;
}
body h2{
	background: var(--color-primario);
}

#cardEstilo{
	background: var(--color-secundario);
}
